<!DOCTYPE html>
<html>
  <head>
    <title>ReactRails51</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1>Hello World!</h1>
    <hr/>
    <%= yield %>
    <hr/>
    <footer>This is the footer...</footer>
  </body>
</html>
